# 如果您更喜欢允许列表模板而不是拒绝列表，请参阅社区模板：
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# 程序和插件的二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib

# 使用 `go test -c` 构建的测试二进制文件
*.test

# 代码覆盖率配置文件和其他测试工件
*.out
coverage.*
*.coverprofile
profile.cov

# 依赖目录（取消下面的注释以包含它）
# vendor/

# Go工作区文件
# go.work
# go.work.sum

# 环境变量文件
.env

# 编辑器/IDE
.idea/
.vscode/
.DS_Store

# 其他
build/
vendor/
.augment/
design/
